{% extends 'base.html.twig' %}

{% block title %}
	Wild Series - Profil
{% endblock %}

{% block body %}
	<h1>
		Bienvenue
		{{ user.username }}
	</h1>
	<a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}