{% extends 'base.html.twig' %}

{% block title %}
	Wild Series
{% endblock %}

{% block body %}
<h1 class="text-center welcome">{{ 'welcome'|trans }}</h1>
	<a href="{{ path('program_index') }}">Voir les séries</a>
{% endblock %}
