{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<section class="bgimage">
		<img src="{{ asset('build/images/bg.webp') }}" alt="Wild series"/>
	</section>
{% endblock %}
